<launch>
	<!-- Load the urdf into the parameter server.  rosrun tf tf_monitor -->
	 <param name="my_robot_description" command="$(find xacro)/xacro '$(find darknet_ros)/urdf/vegebot.urdf.xacro'" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
	<remap from="robot_description" to="my_robot_description" />
    <remap from="joint_states" to="different_joint_states" />
	</node>
</launch>
